body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #3199fe;
  --color-gray: #808080;
  --color-darkslateblue: #17194b;

  /* Border radiuses */
  --br-xl: 20px;
}

/* Responsive styles for screens up to 768px wide */
@media screen and (max-width: 768px) {
  :root {
    /* Update your CSS variables for smaller screens */
    --font-size-11xl: 20px;
    --font-size-41xl: 40px;
  }

  .body {
    /* Additional responsive styles for the body */
  }
}

/* Responsive styles for screens wider than 768px */
@media screen and (min-width: 769px) {
  :root {
    /* Update your CSS variables for larger screens */
    --font-size-11xl: 30px;
    --font-size-41xl: 60px;
  }

  .body {
    /* Additional responsive styles for the body */
  }
}
